<div class="container btn-container">
    <a href="/" type="button" class="btn btn-outline-primary">Home</a>
    <a href="add" type="button" class="ms-5 btn btn-outline-primary">Add new</a>
</div>

<div class="container container-del">

    <div>
        <h5>You are about to delete a pet:</h5>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Species</th>
                <th scope="col">Age</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{deletePet.name}}</td>
                <td>{{deletePet.species}}</td>
                <td>{{deletePet.age}}</td>
            </tr>
            </tbody>
        </table>
        <form method="POST" action="/delete/{{deletePet._id}}?_method=DELETE">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
            <a href="/" type="button" class="ms-5 btn btn-outline-success">Cancel</a>
        </form>

    </div>



</div>

