
<div style="max-width: 400px" class="container text-center">

    <div>
        <h5 class="text-danger mt-5">You are about to delete a pet:</h5>
        <table class="table  mb-5">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Species</th>
                <th scope="col">Age</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{deletePet.name}}</td>
                <td>{{deletePet.species}}</td>
                <td>{{deletePet.age}}</td>
            </tr>
            </tbody>
        </table>
        <form method="POST" action="/delete?id={{deletePet._id}}&_method=DELETE">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
            <a href="/" type="button" class="ms-5 btn btn-outline-success">Cancel</a>
        </form>

    </div>


</div>

