<div class="container btn-container">
    <a href="/" type="button" class="btn btn-outline-primary">Home</a>
    <a href="add" type="button" class="ms-5 btn btn-outline-primary">Add new</a>
</div>

<div class="text-center">
    <h4>It looks like your database is empty</h4>
</div>